<html>
    <head><h1>注册</h1>
        <script src="http://code.jquery.com/jquery-2.1.0.js"></script>

    </head>
    <body>
        <div id="app">
            可直接登录，默认账号:lily 123
            <form id="form">
              
                <input type="text" name="username" id="username" placeholder="username"/><br/>
                <input type="text" name="password" id="password" placeholder="password"/>
                <input type="submit" id="doRegister" value="Register"></input>
                <a href="http://127.0.0.1:7001/zlogin"><%= username %></a>
            </form>
        </div>
    </body>

     <script>
         $(function(){
             $("#doLogin").click(function(e){
                 var username=$('#username').val();
                 var password=$('#password').val();
                 console.log(username)
                 // alert(username,password)
                    // function Spost(){
                    // $.post("/login",{
                    //     username:username,
                    //     password:password
                    // })
                    // var from=document.getElementById('from');
                    // form.submit();
                    // }
                        $.ajax({
                        type:'get',
                        dataType:'json',
                        url:"http://127.0.0.1/login",
                        success:function(data){
                            alert("suc")
                            //window.location.href="https://www.baidu.com"
                        }
                    })
             })
             
         })
     </script>
</html>